/*General Use Styling*/
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Carrois Gothic', sans-serif;
	margin: 0;
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(51,51,51,1) 75%, rgba(113,112,112,1) 100%);
	width: 100%;
}

/*Body scroll bar*/
body::-webkit-scrollbar {
  width: 10px;
  
}

body::-webkit-scrollbar-track {
	background: black;
  box-shadow: inset 0 0 5px rgba(255,255,255, 0.5);
  border-radius: 10px;
}
 
body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px rgba(255,255,255, 0.5);
}

a{
	text-decoration: none;
}



/*Background*/
#top {
	position: relative;
	height: 100%;
}

.top {
	position: relative;
	height: 30%;
}

/*Navigation*/

nav {
	padding: 20px;
	position: relative;
	top: 0;
	left: 0;
}

#logo:hover {
	animation: jump 1s;
	-webkit-animation: jump 1s;
}

#menu, #logo {
	display: inline-block;
}

#logo img{
	position: relative;
	height: 100px;
}

#menu {
	float: right;
	position: absolute;
	top: 50;
	right: 30;
	z-index: 3;
}

.menu-item{
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	position: relative;
}

.menu-item a{
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 24px;
	text-align: center;
}

.menu-item:hover a{
	text-shadow: 0 0 5px #fff;
}


/*DropDown*/
.dropdown {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  left: 0;
}

.dropdown a{
	display: block;
	padding: 5px 10px;
	font-size: 20px;
	color: #e6e6e6;
	background-color: rgba(255,255,255, 0.3);
}

.dropdown a:hover {
	background: rgba(0,0,0, 0.5);
	text-shadow: 0 0 3px #fff;
	font-weight: bold;
}

.menu-item:hover .dropdown{
	display: block;
	z-index: 1;  
}

.container {
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
}

/*Article*/
article {
	background-color: white;
	padding-bottom: 30px;
}

article h1{
	font-size: 48px;
	text-transform: uppercase;
}

.content-title {
	position: relative;
	padding: 15 0 0 0;
}

.content-container {
	border: 1px #e6e6e6 solid;
	border-radius: 20px;
	position: relative;
	z-index: 1;
	color: black;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.content-container img {
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 2px 2px 10px black;
}

/*Footer*/
footer{
	position: relative;
	color: white;
}

.footer-block {
	position: relative;
	text-align: center;
	padding: 20px;
}

.footer-block-item{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}

#footerLogo {
	width:80px;
	height: 80px;
}

.footer-item {
	display: inline-block;
	margin: 0 30px;
	vertical-align: top;
}

.footer-item a{
	text-decoration: none;
	color: #e6e6e6;
}

.footer-item a:visited {
	color: #e6e6e6;
}

.footer-title {
	font-size: 20px;
	font-weight: bold;
}

.footer-item img {
	height: 30px;
	width: 30px;
	margin: 0px 5px;
}

/*Input*/
select{
	height: 30px;
	padding: 5px;
}

input[type=email], input[type=password], input[type=text]{
	height: 30px;
	padding: 5px;
}

input[type=radio] {
	margin-left: 10px;
	margin-right: 10px;
}

input[type=email]:focus, #login input[type=password]:focus {
	background-color: #e3e3e3;
}

input[type=submit], input[type="reset"]{
	cursor: pointer;
	background-color: black;
	color: white;
	border: 1px black solid;
	border-radius: 10px;
	color: white;
	padding: 8px;
}

input[type=submit]:hover, input[type=reset]:hover{
	box-shadow: 0px 0px 3px #000;
}

textarea {
	height: 30%;
}

/*General*/
.width100 {
	width: 100%;
}

.width40{
	width: 40%;
}

.width50{
	width: 50%;
}

.width60{
	width: 60%;
}

.width70 {
	width: 70%;
}

.center-align {
	text-align: center;
}

.left-align {
	text-align: left;
}

.inline-block{
	display: inline-block;
}

.float-left {
	float: left;
}

.float-right{
	float: right;
}

.middle {
	vertical-align: middle;
}

.top-align {
	vertical-align: top;
}
/*Error Message*/
.errorMsg {
	background-color: #ffa8a8;
	border-left: 3px #b00000 solid;
	width: 70%;
	padding: 5px;
	display: none;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*Custom-use styling*/
.headBtn {
	padding: 10 20;
	background-color: transparent;
	border: 4px #e6e6e6 double;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 20px;
	color: white;
	text-decoration: none;
}

.headBtn:hover{
	background-color: #e6e6e6;
	box-shadow: 0 0 10px #e6e6e6;
	color: #666;
	cursor: pointer;
	animation: bgfill 1s;
	-webkit-animation: bgfill 1s;
}

#header-text:hover{
	animation: jump 1s;
	-webkit-animation: jump 1s;
	cursor: normal;
}

/*Second Navigator*/
#second-nav {
	position: sticky;
	top: 0;
	width: 100%;
	text-align: center;
	border-top: grey 2px double;
	border-bottom: grey 2px double;
	background: black;
	z-index: 98;
}

.second-nav-item {
	display: inline-block;
	padding: 20 50;
}

.second-nav-item:hover{
	text-decoration: underline white wavy;
	animation: doubleUnderline 1s;
	-webkit-animation: doubleUnderline 1s;
}

.second-nav-item a{
	text-transform: uppercase;	
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 20px;
}


/*Login*/
#login{
	border: 1px #e6e6e6 solid;
	border-radius: 20px;
	position: fixed;
	display:none;
	height: 380px;
	width: 40%;
	z-index: 99;
	background-color: rgba(225,225,225,0.9);
	padding: 10px 20px 10px 20px;
	color: black;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#login span:hover{
	text-shadow:0px 0px 3px #000000;
}

.register-section {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 49.5%
}

/*Home Article*/
.home-content {
	border-bottom: 2px white solid;
	position: relative;
	z-index: 1;
	color: white;
	padding: 20px;
}

.home-content-title {
	position: relative;
	padding: 15 0 0 0;
	margin-bottom: 50;
}

.home-link {
	background-color: white; 
	padding: 5px 10px; 
	text-decoration: none; 
	border-radius: 5px; 
	color: black; 
	box-shadow: 0 0 5px #8a8a8a;
	transition: all 0.2s ease;
}

.home-link:hover {
	box-shadow: 0 0 5px white;
	transform: translateY(-10px);
}

.contentImg{
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 0 10px white;
	float: right;
	margin: 0 20px;
}

.sponsor {
	position: relative;
	display: inline-block;
	height: 150px;
	width: 150px;
	object-fit: contain;
	margin: 15px 30px;
}

/*Meet-the-team*/
.teamImg {
	height: 300;
	width: 230;
	position: relative;
}

.teamDiv {
	position: relative;
	margin: 30px;
	border-radius: 10px;
}

.imgDetails {
	position: absolute;
	background: rgba(0,0,0, 0.7);
	height: 280;
	width: 210;
	border-radius: 10px;
	z-index: 5;
	display:none;
	color: white;
	padding: 10px;
}

.teamDiv:hover .imgDetails {
	display: block;
	animation: turn 1s;
	-webkit-animation: turn 1s;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  position: relative;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 10px;
  background-color: white;
  display: none;
  border: 1px solid gold;
  position: relative;
}

.methods {
	display: inline-block;
	padding: 10px;
	width: 31%;
	color: white;
	height: 150px;
	vertical-align: top;
	background-color: black;
}

.email {
	padding: 20px;
	padding-top: 30px;
}

#